body {
    font-family: "Tahoma", sans-serif;
    direction: rtl;
    text-align: right;
    background: #f4f9ff;
    padding: 20px;
    line-height: 1.8;
    color: #333;
}

h1 {
    color: #0078ff;
}

a {
    color: #ff5733;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
